name: My Workflow actions-runner-controller

on:
    workflow_dispatch:

jobs:
  build:
    runs-on: arc-runner-set 
    steps:
      - uses: actions/checkout@v4
      - run: echo "Corriendo en Kubernetes!"
